.sub-header {
    display: flex;
    justify-content: space-between;
  }
  
  .version {
    font-weight: 630;
    margin-bottom: 0.6rem;
    color: #24292e;
  }
  
  .updated {
    color: grey;
    font-size: 0.9rem;
  }
  
  .version-block {
    padding-top: 1.4rem;
    padding-left: 1.4rem;
  }
  
  .search-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1.4rem;
    margin-right: 7%;
    border: 1px solid rgba(27, 31, 35, 0.15);
    padding-left: 1.2rem;
  }
  
  .search-field {
    width: 100%;
    padding: 0.6rem 2.2rem 0.6rem 0.9rem;
    border: none;
    outline: none;
  }
  
  .search-img {
    width: 1.4rem;
    height: 1.4rem;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .board {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 2rem 2rem;
  }